.stock-forecast-report {
    width: 100vw;
}

.stock-forecast-report .el-select{
    width: 220px;
}

.stock-forecast-report .el-select input{
    min-width: 150px;
}

.stock-forecast-table {
    overflow-x: scroll;
    max-width: 100%;
    overflow-y: scroll;
    max-height: 60vh;
}

.stock-forecast-table table {
    background-color: white;
    table-layout: fixed;
    width: 100%;
}

.stock-forecast-table__link {
    cursor: pointer;
    color: #409eff;
}

.stock-forecast-report .el-form-item:not(:first-child){
    margin-left: 50px;
}

.stock-forecast-table__amount {
	white-space: nowrap;
}

.stock-forecast-table th:first-child {
    width: 300px;
    text-align: left;
    padding-left: 8px;
}

.stock-forecast-table th {
    width: 120px;
    text-align: center;
    height: 50px;
    color: #909399;
}


.stock-forecast-table td:first-child {
    text-align: left;
    padding-left: 8px;
}

.stock-forecast-table td {
    text-align: center;
    height: 50px;
}
